@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Montserrat+Alternates:wght@500&family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');

body{
    width: 100%;
    background-color: #005b9b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div{
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 100px;
    padding: 0;
    margin: 0;
    color: black;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;


}
h1{
   
    color: #005b9b;
    padding: 20px;
}

table{
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 50px;
}

td {
    border: 2px solid #005b9b;
    padding:10px;
    text-align: center;
}

th {
    color: white;
    padding: 15px ;
    border: 2px solid #005b9b;
    background-color: #005b9b;
    
}


a { 
    text-decoration: none;
    color: black;
}


a:hover {
    color:#005b9b;
    font-size: 25px;
}



#voltar, #novo {
    
    font-size: 50px;
    color: #005b9b;
}



header {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#voltar:hover, #novo:hover {
    
    font-size: 60px;
    color: #005b9b;
}


